on:
  pull_request:
  push:
    branches: [main, test-me-*, renovate/*]

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
    - name: self test action
      uses: ./
