on:
  pull_request:
  push:
    branches: [main, test-me-*, renovate/*]

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
    - name: self test action
      uses: ./
